@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/Gilroy-Regular.woff") format("woff"),
        url("../fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../fonts/Gilroy-SemiBold.woff") format("woff"),
        url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/Gilroy-Bold.woff") format("woff"),
        url("../fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
        url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("../fonts/Gilroy-Light.woff") format("woff"),
        url("../fonts/Gilroy-Light.woff2") format("woff2");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/Gilroy-Medium.woff") format("woff"),
        url("../fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Greenwich-Bold";
    src: url("../fonts/Greenwich-Bold.woff") format("woff"),
        url("../fonts/Greenwich-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/ProximaNova-Bold.woff") format("woff"),
        url("../fonts/ProximaNova-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "ZingRustDemo-Base";
    src: url("../fonts/ZingRustDemo-Base.woff") format("woff"),
        url("../fonts/ZingRustDemo-Base.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
