@media (max-width: 4000px) and (min-width: 599px) {
    i,
    .menu__button {
        display: none !important;
    }
}

//  @Large screens
@media (max-width: 1600px) {
    .cold__snacks--title::after {
        width: 125% !important;
    }
}

// @LaptopL
@media (max-width: 1400px) {
    .coffee {
        max-width: 100%;
    }

    .footer {
        padding-left: 45px;
    }
}

@media (max-width: 1200px) {
    .coffee__description {
        max-width: 485px;
    }

    .products__img {
        margin-top: 0;
        max-width: 216%;
        height: 399px;
    }

    .products__block {
        width: 500px;
    }

    .container {
        padding: 0 20px !important;
    }

    .navigation__links {
        font-size: 15px !important;
    }

    .footer__links {
        font-size: 17px !important;
        padding-left: 20px !important;
    }
}

@media (max-width: 1100px) {
    .header__input {
        width: 110% !important;
    }

    .header .header__title {
        font-size: 23px;
    }

    .header .header__button {
        right: -10px;
    }
}

// @Laptop
@media (max-width: 1024px) {
    .coffee__description {
        width: 350px !important;
    }
}

@media (max-width: 922px) {
    .navigation__box {
        overflow: scroll;
        width: 100%;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .navigation__list {
        display: -webkit-box !important;
    }

    .navigation__links {
        padding-left: 10px !important;
    }
}

@media (max-width: 939px) {
    .footer--right {
        display: -webkit-box !important;
    }

    .footer__link {
        margin-right: 15px !important;
    }
}

@media (max-width: 876px) {
    .coffee--right {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .coffee__block {
        width: 100% !important;
        margin-top: 2rem;
    }

    .coffee__description {
        width: 550px !important;
    }
}

@media (max-width: 844px) {
    .footer--right {
        flex-wrap: wrap;
    }

    .footer--modificatorr {
        display: block;
        padding-top: 25px;
        padding-left: 50px !important;
    }
}
@media (max-width: 767px) {
    .products__inner {
        flex-wrap: wrap;
    }

    .products__img {
        object-fit: contain;
        max-width: 100%;
        height: 100%;
    }

    .products__block {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .map {
        background-position: -413px 4px !important;
    }
}

// @Tablet
@media (max-width: 716px) {
    .footer--right {
        display: flex !important;
        flex-direction: column !important;
    }
    .footer__links {
        display: none;
    }

    .map {
        background-position: -440px 4px !important;
    }
}

@media (max-width: 690px) {
    .map {
        background-position: -737px 420px !important;
        height: 1000px !important;
    }

    .map__contacts {
        margin-top: 232px !important;
        overflow: hidden;
    }
}

// @Phone
@media (max-width: 600px) {
    .coffee--grid {
        grid-template-columns: repeat(1, 1fr) !important;
        place-items: center;
    }
    .header .header__contacts {
        display: none;
    }

    .modal .modal__content {
        width: 332px;
        height: 318px;
    }

    .products__item {
        margin-right: 30px !important;
    }

    .products .products__items {
        margin-right: 43px;
    }

    .products .products__block {
        height: 100%;
        padding-left: 55px;
        padding-right: 55px;
    }

    .products__title,
    .products__weight {
        text-align: center;
    }

    .products .products__description {
        margin-bottom: 0;
    }

    .header .header__title {
        font-size: 25px;
    }

    .header .header__cart--count,
    .header__block,
    .header .header__border {
        display: none;
    }
    .coffee {
        display: none !important;
    }

    i {
        font-size: 30px;
        padding-left: 5px;
        color: #65906c;
        visibility: visible;
        display: block !important;
    }

    .map__contacts {
        margin-top: 199px !important;
    }

    .header .header__button {
        right: 5px !important;
    }

    .menu__button {
        cursor: pointer;
        background-color: transparent !important;
        border: none;
    }

    .header .header__cart {
        width: 70px;
        height: 56px;
        border-radius: 10px;
    }

    .header .header__cart--title {
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        text-transform: lowercase;
        padding-left: 0;
        padding-top: 25px;
    }
    .header__cart--title::before {
        position: absolute;
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../images/Buy.png);
        background-repeat: no-repeat;
        top: -5px;
        left: 12px;
    }

    .header {
        padding-left: 5px;
        padding-right: 5px;
    }

    .coffee__button {
        display: block;
        margin: 0 auto !important;
    }

    .coffee__block {
        width: 90% !important;
    }
    .container {
        padding: 0 30px !important;
    }

    .coffee__description {
        width: auto !important;
        text-align: center;
    }

    .coffee__title {
        text-align: center;
    }

    .products .products__svg {
        width: 37px;
        height: 37px;
        position: absolute;
        top: 314px;
        margin-left: 38px;
    }

    .products__txt {
        display: none;
    }

    .products .products__img {
        margin-top: 0;
    }

    .navigation {
        padding-bottom: 0 !important;
    }

    .products .products__navigation::after {
        margin-right: -57px;
        width: 151% !important;
    }
}

@media (max-width: 580px) {
    .map .map__contacts {
        width: 342px;
        height: 572px;
        margin-bottom: 210px;
    }
    .map--contacts {
        margin-top: 0 !important;
    }

    .cold__snacks__title::before {
        left: -11px !important;
    }

    .map__between {
        flex-direction: column;
    }

    .map__sub__description {
        width: 244px !important;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .map .map__mail::after,
    .map .map__title::after {
        width: 270px !important;
    }

    .map {
        height: 1197px !important;
        background-position: -780px 578px !important;
    }

    .map__box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cold__snacks__title {
        font-size: 25px !important;
    }
    .container {
        padding: 0 5px !important;
    }

    .navigation__links {
        font-size: 14px !important;
    }

    .footer .arrow-up {
        left: -30px !important;
    }
}

// @Tel
@media (max-width: 580px) {
    .map .map__contacts {
        width: 300px;
        height: 572px;
        margin-bottom: 210px;
    }

    .map .map__title::after,
    .map .map__mail::after {
        width: 230px !important;
    }

    .map__sub__description {
        max-width: 200px !important;
    }
}

@media (max-width: 670px) {
    .slick-track {
        left: 0 !important;
    }

    .swiper-slide {
        width: 310px !important;
    }
}

@media (max-width: 865px) {
    .header .header__center {
        display: flex;
        flex-wrap: wrap;
    }

    .header .header__form {
        display: flex;
        order: 3;
        flex-basis: 100%;
    }

    .header .header__input {
        margin-top: 2rem;
    }

    .header .header__img {
        padding-top: 45px;
    }

    .header .header__button {
        top: 45px;
        right: 14px;
    }

    .header .header__cart {
        order: 0;
    }
}

@media (min-width: 400px) and (max-width: 401px) {
    .map {
        background-position: -873px 578px !important;
    }
}

@media (max-width: 375px) {
    .map {
        background-position: -893px 578px !important;
    }

    .products__item {
        margin-right: 21px !important;
    }

    .products__items {
        margin-right: 35px !important;
    }

    .slider__img {
        max-width: 221%;
        margin-left: -34px;
        overflow: hidden;
    }

    .products__description {
        width: 265px;
    }
}

@media (max-width: 354px) {
    .products .products__price {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .modal .modal__content {
        width: 290px;
        height: 71%;
    }
}
@media (max-width: 320px) {
    .map {
        background-position: -910px 578px !important;
    }
}

@media (min-width: 402px) and (max-width: 502px) {
    .map {
        background-position: -843px 578px !important;
    }
}

@media (max-width: 327px) {
    .products .products__item {
        margin-left: -14px;
    }

    .products .products__items {
        margin-left: -14px;
    }
}
