@media (max-width: 10000px) and (min-width: 598px) {
    i,
    .menu__button {
        display: none !important;
    }
}

//  @Large screens
@media (max-width: 1600px) {
    .cold__snacks--title::after {
        width: 125% !important;
    }

    .slick-next {
        display: none !important;
    }

    .slick-prev {
        display: none !important;
    }

    .card {
        padding: 0 8px !important;
    }

    .carousel .carousel__title {
        font-size: 30px;
    }
}

// @LaptopL
@media (max-width: 1400px) {
    .coffee {
        max-width: 100%;
    }

    .footer {
        padding-left: 45px;
    }
}

@media (max-width: 1200px) {
    .coffee__description {
        max-width: 485px;
    }

    .order__block {
        margin-left: 0 !important;
    }

    .order--modificator {
        margin-left: -26px !important;
    }

    .cart-inner {
        flex-wrap: wrap;
        gap: 15px;
    }

    @media (max-width: 1200px) {
        .header .header__input {
            width: 500px;
        }

        .order .order {
            &__wrap {
                margin-left: 0;
            }
        }
    }

    .conditions {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .products__img {
        margin-top: 0;
        max-width: 216%;
        height: 399px;
    }

    .products__block {
        width: 500px;
    }

    .container {
        padding: 0 20px !important;
    }

    .navigation__link {
        font-size: 15px !important;
    }

    .footer__links {
        font-size: 17px !important;
        padding-left: 20px !important;
    }

    .carousel .carousel__title::before {
        left: -11px !important;
    }

    .conditions__accordion {
        padding: 0 5px;
    }
    .accordion__title {
        min-width: 100% !important;
        width: 100% !important;
    }
}

@media (max-width: 1257px) {
    .conditions .conditions__map {
        flex-wrap: wrap;
        max-width: 600px;
    }

    .conditions {
        &__block {
            margin: auto !important;
        }
    }

    .conditions .conditions__image {
        min-width: 100%;
        display: flex;
        order: -1;
        margin-bottom: 3rem;
    }

    .conditions__inner {
        flex-wrap: wrap;
    }

    .conditions .conditions__image {
        margin-left: -30px;
    }

    .conditions__inner {
        justify-content: center;
    }

    .conditions__order {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conditions__column {
        display: flex;
        justify-content: center;
    }

    .conditions__order__title {
        display: flex;
        align-self: center;
        align-items: center;
    }
}

@media (max-width: 1100px) {
    .header__input {
        width: 110% !important;
    }

    .header .header__title {
        font-size: 23px;
    }

    .header .header__button {
        right: -10px;
    }
}

// @Laptop
@media (max-width: 1024px) {
    .coffee__description {
        width: 350px !important;
    }
    .conditions .conditions__image {
        margin-left: 0 !important;
    }
}

@media (max-width: 922px) {
    .navigation__box {
        overflow: scroll;
        width: 100%;
        &::-webkit-scrollbar {
            display: none;
        }

        .navigation {
            &__item {
                padding: 0;
            }
        }
    }

    .navigation__list {
        display: -webkit-box !important;
    }

    .navigation__link {
        padding-left: 10px !important;
    }

    .checkout .checkout__blocker {
        max-width: 36.33333%;
    }
}

@media (max-width: 939px) {
    .footer__inner {
        display: -webkit-box !important;
    }

    .footer__link {
        margin-right: 15px !important;
    }
}

@media (max-width: 876px) {
    .coffee__inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .coffee__block {
        width: 100% !important;
        margin-top: 2rem;
    }

    .coffee__description {
        width: 550px !important;
    }

    .checkout__description {
        display: none;
    }

    .checkout__sup__title {
        white-space: nowrap;
    }

    .checkout-inner {
        margin-left: 46px !important;
    }

    .checkout .checkout__price {
        font-size: 17px;
        white-space: nowrap;
        margin-top: 20px;
    }

    .checkout .checkout__button {
        margin-top: 37px;
    }

    .checkout__centerr {
        margin-top: 20px;
    }
}

@media (max-width: 845px) {
    .order .order {
        &--three {
            margin-left: 0;
        }

        &--two {
            width: 97% !important;
        }
    }
}

@media (max-width: 844px) {
    .footer .footer {
        &__inner {
            flex-wrap: wrap;
        }

        &__navigation {
            margin-top: 10px;
            margin-left: 30px;
        }
    }
}

@media (max-width: 767px) {
    .products__inner {
        flex-wrap: wrap;
    }

    .products__img {
        object-fit: contain;
        max-width: 100%;
        height: 100%;
    }

    .products__block {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .map {
        background-position: -413px 4px !important;
    }

    .header__cart--bottom {
        display: none !important;
    }

    .navigation__cart::before {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .promo .promo__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .product__description {
        display: none;
    }

    .product__inner {
        justify-content: flex-start !important;
    }

    .checkout .product__price {
        margin-left: 30px;
    }

    .checkout .product__price {
        margin-right: 15px !important;
    }

    .order__wrap {
        display: none;
    }
}

// @Tablet
@media (max-width: 716px) {
    .footer__inner {
        display: flex !important;
        flex-direction: column !important;
    }

    .btn {
        width: 152px !important;
    }

    .header--contact::after {
        display: none !important;
    }
    .conditions .conditions__column {
        display: block;
        padding-left: 5px;
        margin-top: 30px;
    }

    .map {
        background-position: -440px 4px !important;
    }
}

@media (max-width: 710px) {
    .footer .footer {
        &__item {
            display: none;
        }
    }
}

@media (max-width: 690px) {
    .map {
        background-position: -737px 420px !important;
        height: 1000px !important;
    }

    .map__contacts {
        margin-top: 232px !important;
        overflow: hidden;
    }
}

// @Phone
@media (max-width: 600px) {
    .check__order-inner {
        flex-direction: column;
    }

    .coffee__inner {
        grid-template-columns: repeat(1, 1fr) !important;
        place-items: center;
    }
    .header .header__contacts {
        display: none;
    }

    .products__img {
        height: 100% !important;
    }

    .modal .modal__content {
        width: 332px;
        height: 318px;
    }

    .products__item {
        margin-right: 30px !important;
    }

    .products .products__items {
        margin-right: 43px;
    }

    .products .products__block {
        height: 100%;
        padding-left: 55px;
        padding-right: 55px;
    }

    .products__title,
    .products__weight {
        text-align: center;
    }

    .products .products__description {
        margin-bottom: 1rem;
    }

    .header .header__title {
        font-size: 25px;
        margin-left: 50px;
    }

    .header .header__cart-count,
    .header__block,
    .header .header__border {
        display: none;
    }
    .coffee {
        display: none !important;
    }

    i {
        font-size: 30px;
        padding-left: 5px;
        color: #65906c;
        visibility: visible;
        display: block !important;
    }

    .map__contacts {
        margin-top: 160px !important;
    }

    .header .header__button {
        right: 5px !important;
    }

    .menu__button {
        cursor: pointer;
        background-color: transparent !important;
        border: none;
    }

    .header .header__cart {
        width: 70px;
        height: 56px;
        border-radius: 10px;
    }

    .header .header__cart-title {
        position: relative;
        padding-left: 0;
        padding-top: 25px;
        font-family: "Gilroy-Regular";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        text-transform: lowercase;
    }
    .header__cart-title::before {
        position: absolute;
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../images/Buy.png);
        background-repeat: no-repeat;
        top: -5px;
        left: 12px;
    }

    .header {
        padding-left: 5px;
        padding-right: 5px;
    }

    .coffee__button {
        display: block;
        margin: 0 auto !important;
    }

    .coffee__block {
        width: 90% !important;
    }
    .container {
        padding: 0 30px !important;
    }

    .coffee__description {
        width: auto !important;
        text-align: center;
    }

    .coffee__title {
        text-align: center;
    }

    .products .products__svg {
        width: 37px;
        height: 37px;
        position: absolute;
        top: 314px;
        margin-left: 38px;
    }

    .products__txt {
        display: none;
    }

    .products .products__img {
        margin-top: 0;
    }

    .navigation {
        padding-bottom: 0 !important;
    }

    .products .products__navigation::after {
        margin-right: -57px;
        width: 151% !important;
    }

    .products__navigation::after {
        margin-left: -308px !important;
    }

    .order .order__form {
        flex-direction: column;
    }

    .order .order__input {
        width: 100%;
        display: flex;
        flex-basis: auto;
        margin-bottom: 20px;
    }

    .cart-inner {
        justify-content: center;
    }

    .checkout--title {
        text-align: center;
    }

    .check__order {
        width: 329px;
        max-width: 100% !important;
        min-height: 182px;
        padding: 20px 46px !important;
        text-align: center;

        .check__order__inner {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .check__order__button {
                margin-top: 12px !important;
                margin: auto;
            }
        }
    }

    .carousel .carousel__title {
        font-size: 22px;
    }

    .conditions_inner {
        flex-direction: column;
        padding: 0 5px;
    }

    .conditions__order__title {
        align-self: flex-start !important;
    }

    .check-order__wrap {
        padding: 0 10px;
    }
}

@media (max-width: 580px) {
    .map .map__contacts {
        width: 342px;
        height: 572px;
        margin-bottom: 210px;
    }

    .map__sub-description {
        width: auto !important;
    }

    .map__button {
        margin-bottom: 20px !important;
    }

    .map--contacts {
        margin-top: 0 !important;
    }

    .cold__snacks__title::before {
        left: -11px !important;
    }

    .map__block,
    .map__contact {
        flex-direction: column;
        align-items: center;
    }

    .map__sub__description {
        width: 244px !important;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .map .map__mail::after,
    .map .map__title::after {
        width: 270px !important;
    }

    .map {
        height: 1197px !important;
        background-position: -780px 578px !important;
    }

    .map__box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cold__snacks__title {
        font-size: 25px !important;
    }
    .container {
        padding: 0 5px !important;
    }

    .navigation__link {
        font-size: 15px !important;
    }

    .footer .arrow-up {
        left: -30px !important;
    }
    .promo {
        padding: 25px 15px;
    }

    .map--mod {
        height: 665px !important;
    }

    .livrary {
        display: flex;
    }

    .order .button {
        margin-right: -5px !important;
        font-size: 14px !important;
    }

    .container {
        padding: 0 10px;
    }
}

// @Tel
@media (max-width: 580px) {
    .map .map__contacts {
        width: 300px;
        height: 572px;
        margin-bottom: 210px;
    }

    .map .map__title::after,
    .map .map__mail::after {
        width: 230px !important;
    }

    .map__sub__description {
        max-width: 200px !important;
    }
}

@media (max-width: 670px) {
    .slick-track {
        left: 0px !important;
    }

    .swiper-slide {
        width: 310px !important;
    }
}

@media (max-width: 988px) {
    .header .header__inner {
        display: flex;
        flex-wrap: wrap;
    }

    .order .order__header::after {
        left: -8px !important;
    }

    .header .header__form {
        display: flex;
        order: 3;
        flex-basis: 100%;
    }

    .header .header__input {
        margin-top: 2rem;
    }

    .header .header__img {
        padding-top: 45px;
    }

    .header .header__button {
        top: 45px;
        right: 14px;
    }

    .header .header__cart {
        order: 0;
    }
}

@media (min-width: 400px) and (max-width: 401px) {
    .map {
        background-position: -873px 578px !important;
    }
}

@media (max-width: 375px) {
    .map {
        background-position: -893px 578px !important;
    }

    .conditions .conditions__title {
        font-size: 25px;
    }

    .products__item {
        margin-right: 21px !important;
    }

    .products__items {
        margin-right: 35px !important;
    }

    .slider__img {
        max-width: 221%;
        margin-left: 5px;
        overflow: hidden;
    }

    .agreement .agreement__title {
        margin-left: 70px !important;
    }

    .agreement--mod {
        margin-left: 40px !important;
    }
}

@media (max-width: 354px) {
    .products .products__price {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .modal .modal__content {
        width: 290px;
        height: 45%;
    }
}
@media (max-width: 320px) {
    .map {
        background-position: -910px 578px !important;
    }
}

@media (min-width: 402px) and (max-width: 502px) {
    .map {
        background-position: -843px 578px !important;
    }
}

@media (max-width: 327px) {
    .products .products__item {
        margin-left: -14px;
    }

    .products .products__items {
        margin-left: -14px;
    }
}

@media (max-width: 646px) {
    .conditions .conditions__sub__txt {
        width: 100%;
    }

    .conditions .conditions__item {
        max-width: 100%;
        height: 87px;
    }

    .conditions .conditions__sub__text {
        margin-bottom: 30px;
    }
}

@media (max-width: 579px) {
    .promo .promo__inner {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
}

@media (max-width: 500px) {
    .conditions .conditions__image {
        object-fit: cover;
        margin-bottom: 15px;
        width: 346px;
        max-width: 100%;
        padding: 0 5px;
    }

    .conditions .conditions__image {
        height: 290px;
    }

    .product__img {
        margin-right: 33px !important;
    }
}

@media (max-width: 480px) {
    .conditions .conditions__sub__text::after {
        right: 7px !important;
    }
    .accordion__title {
        padding: 0 5px 0 10px !important;
        font-size: 16px !important;
    }
}

@media (max-width: 362px) {
    .header .header__item {
        display: none;
    }

    .promo .promo__header {
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    .products__navigation::after {
        margin-left: -53px !important;
    }
}

@media (max-width: 845px) {
    .order__input {
        display: flex;
        flex-basis: 46%;
    }

    .agreement__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        order: -1;
        margin-bottom: 15px;
    }

    .agreement__form {
        flex-wrap: wrap;
        width: 274px;
    }

    .agreement .agreement__block {
        max-height: 100%;
    }

    .agreement--mod {
        margin-left: 6px;
        margin-bottom: -17px;
    }

    .agreement .agreement__title {
        display: inline;
        margin-left: 66px;
    }
}

@media (max-width: 492px) {
    .btn {
        width: 107px !important;
        font-size: 12px !important;
    }

    .order .btn {
        padding: 8px 16px !important;
    }

    .livrary-two {
        display: flex;
        align-items: flex-end;
    }

    .checkout .checkout__button {
        margin-left: -50px;
    }

    .product__inner {
        justify-content: flex-end !important;
    }

    .checkout .product__title {
        margin-right: 50px;
    }
}

@media (max-width: 598px) {
    .conditions {
        &__block {
            flex-direction: column !important;
        }
    }
    .order .button:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-bottom: 20px;
    }
    .order .button:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    // Burger menu
    .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
    }
    #active:checked ~ .wrapper {
        clip-path: circle(75%);
        z-index: 1;
        background: black;
    }
    .menu-btn {
        position: absolute;
        z-index: 2;
        left: 20px;
        top: 48px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    #active:checked ~ .menu-btn {
        color: #fff;
    }
    #active:checked ~ .menu-btn i:before {
        content: "\f00d";
        position: fixed;
    }
    .wrapper ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }
    .wrapper ul li {
        margin: 15px 0;
    }
    .wrapper ul li a {
        color: none;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        padding: 5px 30px;
        color: #fff;
        border-radius: 50px;
        background: #000;
        position: relative;
        line-height: 50px;
        transition: all 0.3s ease;
        white-space: nowrap;
    }
    .wrapper ul li a:after {
        position: absolute;
        content: "";
        background: #fff;
        background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
        width: 104%;
        height: 110%;
        left: -2%;
        top: -5%;
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        animation: rotate 1.5s linear infinite;
        transition: transform 0.3s ease;
    }
    .wrapper ul li a:hover:after {
        transform: scaleY(1);
    }
    .wrapper ul li a:hover {
        color: #fff;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        text-align: center;
        width: 100%;
        color: #202020;
    }

    .footer--modificatorr {
        padding: 0 !important;
    }

    .cart-wrapper {
        padding: 0 5px !important;
    }
}

@media (max-width: 1050px) {
    .header--cart {
        display: none !important;
    }
}

@media (max-width: 601px) {
    .navigation {
        position: static !important;
    }
}

@media (max-width: 613px) {
    .order .button {
        max-width: 166px !important;
    }

    .livrary {
        display: flex;
    }

    .agreement__title {
        white-space: unset !important;
        min-width: 240px;
    }

    .agreement--mod {
        margin-left: 35px;
    }

    .agreement__block {
        padding: 30px 0px !important;
    }
}

@media (max-width: 444px) {
    .checkout .checkout__price {
        margin-left: -24px;
    }

    .checkout__blocker {
        margin-left: 10px !important;
    }

    .checkout__sup__title {
        font-size: 16px !important;
    }

    .checkout__inner {
        max-width: 100% !important;
    }
}

@media (max-width: 389px) {
    .checkout .checkout__meat {
        width: 110px;
    }

    .checkout__product {
        font-size: 13px !important;
    }

    .checkout .checkout__inner {
        padding: 19px 5px;
    }
}

@media (max-width: 368px) {
    .order .order {
        &--two {
            width: 95% !important;
        }

        &__header {
            font-size: 20px;
        }
    }
    .checkout .checkout--button {
        margin-left: -10px;
    }

    .checkout .checkout__price {
        margin-left: -37px;
    }

    .checkout-inner {
        margin-left: -16px !important;
    }

    .checkout__price:first-child {
        margin-left: 25px !important;
        font-size: 14px;
        margin-top: 22px;
    }

    .checkout .checkout__button {
        position: absolute !important;
        right: -5px !important;
        margin-top: 39px;
    }

    .checkout__count {
        margin-left: -5px;
    }
}

@media (max-width: 846px) {
    .order-block__livrary {
        display: flex;
        flex-wrap: wrap;
    }

    .clock,
    .livrary__time {
        display: none;
    }
}

@media (max-width: 418px) {
    .product {
        &__inner {
            flex-wrap: wrap !important;
            padding: 9px !important;
            overflow: static !important;
            height: 100% !important;
            margin-top: 20px  !important; 
            margin: auto 20px 20px !important;
            justify-content: center !important;
            width: 90% !important; 
        }
    }
}
