@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "media";

.header {
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: #403c3b;
    box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);

    &--right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 0.15em;
        color: #ffffff;
        text-transform: uppercase;
    }

    &__form {
        position: relative;
    }

    &__img {
        position: absolute;
        padding-top: 14px;
        padding-left: 14px;
    }

    &__input {
        background-color: #504b4a;
        padding-right: 40px;
        width: 555px;
        height: 52px;
        border-radius: 10px;
        padding-left: 48px;
        font-family: "Gilroy-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #cfcfcf;
        border: none;
    }

    &__button {
        cursor: pointer;
        position: absolute;
        background-color: transparent;
        border: none;
        top: 14px;
        right: 14px;
    }

    &__search {
        width: 24px;
        height: 24px;
    }

    &__phone {
        width: 32px;
        height: 32px;
        margin-top: 5px;
        margin-right: 10px;
    }

    &--contact {
        font-family: "Gilroy-regular";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        font-size: 12px;
        color: #cfcfcf;
    }

    &__contacts {
        display: flex;
    }

    &__tel--link {
        display: block;
        font-family: "Gilroy-ExtraBold";
        color: white;
    }

    &__cart {
        width: 149px;
        height: 52px;
        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__cart--title {
        font-family: "Gilroy-SemiBold";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        padding-left: 20px;
    }

    &__cart--count {
        font-family: "Gilroy-Regular";
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #403c3b;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
        margin-top: 4px;
    }

    &__border {
        width: 38px;
        height: 0px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        transform: rotate(90deg);
    }

    &__block {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: #ffffff;
        margin-right: 19px;
    }
}

.swiper-slide {
    position: relative;
}

.slider {
    max-width: 100%;
    background: linear-gradient(
        141deg,
        #211f20 100%,
        rgba(42, 139, 109, 65) 308%
    );

    &__description {
        position: absolute;
        transform: rotate(-8.37deg);
        font-family: "ZingRustDemo-Base";
        font-style: italic;
        font-weight: 400;
        font-size: 67px;
        line-height: 109.2%;
        text-align: center;
        color: #ffffff;
        top: 72px;
        left: 300px;
    }

    &__info {
        display: block;
        margin-top: 4px;
        font-family: "ZingRustDemo-Base";
        font-style: italic;
        font-weight: 400;
        font-size: 25px;
        line-height: 109.2%;
        text-align: center;
        color: #ffffff;
    }

    &__box {
        position: absolute;
        width: 229px;
        height: 35px;
        text-align: center;
        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
        transform: rotate(-8.02deg);
        bottom: 189px;
        left: 490px;
    }
}

.swiper {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.slider__img {
    width: 1920px;
    height: 484px;
    margin: 0 auto;
}

.snacks--wrapper {
    min-width: 0;
}

.snacks {
    padding-top: 27px;
    padding-bottom: 30px;
    background: linear-gradient(360deg, #211f20 0%, #44403f 100%);

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__links {
        position: relative;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #cfcfcf;
    }

    .snacks__links:hover {
        color: white;
    }

    .snacks__links:hover {
        padding-bottom: 26px;
        border-width: 153px;
        border-bottom: 3px solid #618967;
    }
}

.kitchen {
    max-width: 100%;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cold__snacks {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(360deg, #211f20 0%, #44403f 100%);

    &__title {
        position: relative;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 19px;
        margin-bottom: 50px;
    }

    .cold-snacks--mod {
        margin-top: 30px;
    }

    &__count {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #79b382;
        border-radius: 50%;
        right: -9px;
        top: 0;
    }

    &--count {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
    }

    .cold__snacks__title::before {
        position: absolute;
        content: "";
        display: block;
        width: 33px;
        height: 4px;
        background-color: #618967;
        transform: rotate(90deg);
        left: -19px;
        top: 19px;
    }

    &__block--second {
        padding-left: 20px;
        padding-right: 16px;
    }

    &__block {
        width: 284px;
        height: 157px;
        background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
        border-radius: 10px;
        margin-top: -10px;
        margin-bottom: 90px;
        padding-top: 20px;
    }

    &__header {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #ffffff;
        margin-bottom: 5px;
    }

    &__gram {
        font-family: "Gilroy-Light";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
    }

    &--space {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__sub {
        width: 249px;
        font-family: "Gilroy-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: #cfcfcf;
        margin-bottom: 14px;
    }

    &--price {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
    }

    &__button {
        position: relative;
        cursor: pointer;
        width: 137px;
        height: 44px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        border: none;
        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
        border-radius: 10px;
        color: white;
        text-align: center;
    }

    .cold__snacks__button::before {
        position: absolute;
        content: "";
        display: block;
        width: 20px;
        height: 18px;
        right: 12px;
        background-image: url(../images/basket.svg);
        background-repeat: no-repeat;
    }

    &--btn {
        cursor: pointer;
        width: 62px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
        border-radius: 10px;
    }

    .cold__snacks--btnn {
        cursor: pointer;
        width: 62px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
        border-radius: 10px;
    }

    .cold__snacks--btn::after {
        position: absolute;
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        color: white;
        background-image: url(../images/plus.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .cold__snacks--btnn::before {
        position: absolute;
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        color: white;
        background-image: url(../images/minus.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    &--sub {
        width: auto;
    }
    &--spacee {
        margin-top: 48px;
    }
}

.coffee {
    padding-top: 100px;
    padding-bottom: 101px;
    background: url(../images/coffee-section-img.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 26px;
    }

    &__description {
        width: 563px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #cfcfcf;
        margin-bottom: 60px;
    }

    &__button {
        cursor: pointer;
        width: 223px;
        height: 59px;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        color: white;
        border-radius: 10px;
        font-family: "Gilroy-Medium";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .coffee__button:hover {
        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    }

    &--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    &--right {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        width: 228px;
        height: 227px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: rgba(80, 75, 74, 0.9);
        backdrop-filter: blur(4px);
    }

    .coffee__block:hover {
        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    }

    &__sub__text {
        font-family: "Gilroy-Light";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
    }

    .coffee__sub__text:hover {
        color: #79b282;
    }

    &__img {
        margin-bottom: 26px;
    }
}

.map {
    max-width: 50%;
    position: relative;

    &__contacts {
        position: absolute;
        width: 526px;
        height: 405px;
        background-color: #2e2b2c;
        box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 53px;
        padding-right: 53px;
        top: 110px;
        left: 300px;
    }

    &--flex {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
    }

    &__title {
        position: relative;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 26px;
    }

    .map__title::after {
        position: absolute;
        content: "";
        display: block;
        width: 450px;
        border: 1px solid #ffffff26;
        margin-top: 26px;
    }

    &__img {
        margin-right: 20px;
    }

    &__adress {
        color: #cfcfcf;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #cfcfcf;
    }

    &__sub__description {
        width: 391px;
        margin-left: 42px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }

    &__txt {
        display: block;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #cfcfcf;
    }

    &__mail {
        position: relative;
        display: block;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-left: 42px;
        margin-bottom: 20px;
    }

    .map__mail::after {
        position: absolute;
        content: "";
        display: block;
        width: 450px;
        border: 1px solid rgba(255, 255, 255, 0.1490196078);
        margin-top: 26px;
        margin-left: -45px;
    }

    &__between {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        cursor: pointer;
        width: 211px;
        height: 59px;
        background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
        border-radius: 10px;
        border: none;
        font-family: "ProximaNova-Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #ffffff;
        margin-top: 17px;
    }

    &__tel {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: #ffffff;
        margin-top: 24px;
    }

    &__beetwen {
        display: flex;
        justify-content: space-evenly;
    }

    &__social {
        display: block;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        padding-left: 16px; 
        margin-top: 25px;
    }

    &__images {
        display: flex;
    }
}

iframe {
    position: absolute;
    width: 1888px;
}
